<component name="libraryTable">
  <library name="springframework.spring.test" type="repository">
    <properties maven-id="org.springframework:spring-test:5.3.25" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-test/5.3.25/spring-test-5.3.25.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.25/spring-core-5.3.25.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.25/spring-jcl-5.3.25.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>